.idea
blog/migrations
blog/__pycache__
myblog/__pycache__
frontend/.idea
blog/unet/unet_model.h5
frontend/node_modules
frontend/.eslintcache
frontend/build
final.docx
misc/
__pycache__/
python/
dist/
build/
frontend/.vscode
frontend/.VSCodeCounter/
frontend/release/